:root {
    --header_height: 80px;
    --search-bar_height: 60px;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* General */
.content-btn,
.content-btn-2,
.content-btn-3 {
    background-color: #059862;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.content-btn:hover,
.content-btn-3:hover,
.page-change-btn:hover {
    background-color: #036e47;
}

.content-btn-2 {
    background-color: #0d8bf2;
}

.content-btn-2:hover {
    background-color: #085391;
}

.content-btn-3 {
    border-radius: 50px;
    width: 200px;
    height: 62px;
    font-size: 18px;
    justify-content: center;
}

.content-btn__icon {
    font-size: 8px;
    padding-left: 8px;
    line-height: 100%;
}

.content-btn__bar {
    display: flex;
    justify-content: space-between;
}

.page-change-btn {
    background-color: #059862;
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
    width: 90px;
    height: 45px;
    font-size: 16px;
    border: none;
    outline: none;
    align-items: center;
    cursor: pointer;;
}

.page-change-btn__icon {
    font-size: 12px;
    line-height: 100%;
}

.margin-side--24px {
    margin-left: 24px;
    margin-right: 24px;
}

.content__advertisement {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 18px;
    cursor: pointer;
}

.content__line {
    padding-bottom: 24px;
}

.content__line-2 {
    padding-top: 18px;
}

h2 {
    font-weight: 600;
}

.h2__heading {
    padding-bottom: 22px;
}

.border--top {
    border-top: #e7e9eb 1px solid;
}

.border--bottom {
    border-bottom: #e7e9eb 1px solid;
}

.border--right {
    border-right: #e7e9eb 1px solid;
}

.icon-w3school--circle {
    background-color: white;
    border: #059862 5px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-w3school--circle-content {
    width: 216px;
    height: 216px;
    transform: translate(690px, -108px);
}

.icon-w3school--circle-advertisement {
    width: 140px;
    height: 140px;
}

.img-w3school--circle-advertisement {
    width: 80px;
    height: 80px;
}

.img-w3school--circle {
    height: 120px;
    width: 120px;
}

.heading__advertisement {
    text-align: center;
    padding-bottom: 12px;
}

.heading__advertisement:hover {
    color: #059862;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    height: var(--header_height);
    background-color: white;
    position: relative;
    z-index: 1;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}


.header__icon {
    width: 48px;
    height: 48px;
    margin-right: 24px;
    margin-left: 32px;
}

.header__icon:hover {
    opacity: 0.7;
    cursor: pointer;
}

.header__options,
.header__choices {
    display: inline-flex;
}

.header__options-item,
.header__choices-item {
    list-style: none;
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    font-weight: 600;
    cursor: pointer;
}

.header__choices-item {
    font-size: 90% !important;
}

.header__options-item {
    line-height: var(--header_height);
    padding: 0 24px;
    display: flex;
    align-items: center;
}

.header__options-item:hover {
    background-color: #04AA6D;
    color: #fff;
}

.header__options-item-icon--1,
.header__options-item-icon--2,
.header__options-item-icon--3 {
    padding-left: 8px;
    margin-bottom: 8px;
}

.header__options-item-icon_clicked{
    padding-right: 8px;
    margin-top: 8px;
    color: white;
    transform: rotate(180deg);
}

.header__user-icon {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    margin-left: calc(100vw/100*5);
    border: solid 6px #282A35;
    cursor: pointer;
    margin-right: 32px;
}

.header__choices-item {
    padding: 8px 18px;
    border-radius: 24px;
}

.header__choices-item:hover {
    opacity: 0.7;
}

.header__choices-item+.header__choices-item {
    margin-left: 12px;
}

.header__choices-item:nth-child(1) {
    background-color: #282A35;
    color: #fff;
}

.header__choices-item:nth-child(2) {
    background-color: #FFC0C7;
    color: #000 !important
}

.header__choices-item:nth-child(3) {
    background-color: #FFF4A3;
    color: #000 !important
}


/* Search bar */
.search_bar {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    height: var(--search-bar_height);
    align-items: center;
    background-color: #282A35;
    color: #fff;
    position: relative;
    z-index: 1;
}

.course-list {
    display: flex;
}

.course-list__course {
    list-style: none;
    line-height: var(--search-bar_height);
    padding-left: 12px;
    padding-right: 12px;
}

.course-list__course:nth-child(4) {
    background-color: #04AA6D;
}

.course-list__icon {
    font-size: 20px;
}

.search_side {
    display: flex;
}

.search-side__icon {
    list-style: none;
    line-height: var(--search-bar_height);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.search-side__icon:hover,
.course-list__course:hover {
    background-color: #000;
    cursor: pointer;
}

.search-side__bar {
    position: absolute;
    right: 60px;
    top: 12px;
    height: 36px;
    background-color: #282A35;
    display: none;
}

.show-searchBar {
    display: flex;
}

.search-side__bar-text {
    width: 348px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 12px;
    padding-right: 12px;
}

.search-side__bar input:focus {
    outline: none;
}

.search-side__bar-btn {
    width: 80px;
    background-color: #4D90FE;
    color: #fff;
    border: solid #fff;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}



/* Dark mode */
.dark-mode__list {
    background-color: #282A35;
    width: 140px;
    text-align: center;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    position: absolute;
    right: 40px;
    display: none;
    animation: showDardMode linear 0.1s;
}

@keyframes showDardMode {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.dark-mode__item {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 0 12px;
    list-style: none;
    border-bottom: solid 1px #fff;
    cursor: pointer;
    display: block;
}

.dark-mode__item:hover {
    opacity: 0.7;
}

.search-side__icon:first-child:hover .dark-mode__list {
    display: block;
}

#dark-mode_checkbox,
#dark-code_checkbox {
    margin-right: 4px;
}

.dark-mode__item-label {
    cursor: pointer;
}

.dark_background {
    background-color: rgb(21, 32, 43);
    color: #fff;
}

.dark-mode_choice-item {
    background-color: #fff;
    color: #000;
}


/* Scroll header */
.scroll-1 {
    display: none;
}

.scroll-2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* Body */
.body {
    display: flex;
    max-width: 100vw;
    padding-left: 0;
    padding-right: 0;
}

.container_lesson-list {
    position: fixed;
    margin-top: calc(var(--header_height) + var(--search-bar_height));
    max-height: calc(100vh - calc(var(--header_height) + var(--search-bar_height)));
}

.container_lesson-list-scroll {
    margin-top: 60px;
}

.lesson-list {
    background-color: #E7E9EB;
    overflow-y: scroll;
    position: fixed;
    max-height: 81%;
    width: calc(100%/6);
    padding-bottom: 60px;
}

.lesson-list-scroll {
    max-height: calc(81% + 80px);
}

.dark-mode__scroll-bar::-webkit-scrollbar {
    background-color: #15202b;
}

.dark-mode__scroll-bar::-webkit-scrollbar-thumb {
    background-color: #404e59;
}

.lesson-content {
    margin-top: 28px;
    list-style: none;
}

.lesson-heading {
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 8px;
}

.lesson-title {
    font-size: 14px;
    padding: 4px;
    display: block;
    margin-left: 0;
    padding-left: 20px;
}

.lesson-title:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.lesson-title_chose {
    background-color: #059862;
    color: white;
}

.content {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
}

/* body */
.content-item__1 {
    padding: 24px 0px;
}

.content-item__1-heading {
    margin-bottom: 12px;
    font-weight: 600;
}

.content-item__2 {
    background-color: #d9eee1;
    padding: 48px 24px;
}

.content-item__3 {
    padding: 36px 0 24px;
}

.content-item__3-example {
    background-color: #e7e9eb;
    padding: 32px 24px;
    border-radius: 3px;
}

.content-item__3-example-content {
    background-color: white;
    padding: 32px 24px;
    margin-bottom: 18px;
    border-radius: 3px;
}

.content-item__3-example-content__title {
    padding-bottom: 12px;
}

.content-item__3-example-content__btn {
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;
}

.content-item__4 {
    padding: 32px 0 0px;
}

.content-item__5 {
    padding-bottom: 24px;
}

.content-item__5-example {
    background-color: #ffffcc;
    padding-left: 24px;
    padding-bottom: 18px;
}

.content-item__5-example__heading {
    padding-bottom: 12px;
    padding-top: 24px;
}

.content-item__6 {
    padding: 32px 0 0;
}

.content-item__6-item {
    padding-left: 32px;
}

.content-item__6-list-item:hover {
    color: #059862;
}

.content__line span,
.content__line a {
    font-weight: bold;
    color: #000;
}

.content-item__7 {
    background-color: #d9eee1;
    padding: 42px 24px;
}

.content-item__7-heading {
    padding-bottom: 12px;
}

.content-item__7-item {
    padding-left: 42px;
}

.border_add {
    padding-top: 42px;
    margin-top: 24px;
    height: 32px;
}

.content-item__8 {
    padding-top: 32px;
}

.h2__heading span {
    font-weight: bold;
}

.content-item__9 {
    padding: 32px 0;
}

.content-item__9-exercise {
    background-color: #282a35;
    color: white;
    padding: 32px 24px;
    border-radius: 3px;
}

.content-item__9-exercise__heading {
    padding-bottom: 12px;
}

.content-item__9-exercise__content {
    background-color: white;
    color: #000;
    padding: 32px 24px;
    border-radius: 3px;
}

.content-item__9-exercise__input {
    background-color: #e7e9eb;
    margin-bottom: 24px;
    padding: 42px 24px;
}

.content-item__9-exercise__link {
    margin-top: 24px;
}

.content-item__9-exercise__link a{
    color: #000;
}

.content-item__9-exercise__link a:hover {
    color: #059862 !important;
}

.content-item__9-exercise--red {
    background-color: #e7e9eb;
    color: red !important;
    font-weight: 500 !important;
    padding: 0 4px;
    font-family: Consolas, Menlo, "courier new", monospace;
    ;
}

.content-item__9-exercise--red--dark-mode {
    color: #ff9999 !important;
    background-color: #2a343e !important;
}

.content-item__9-exercise__input input {
    font-size: 20px;
    border: none;
    outline: none;
    font-family: Consolas, Menlo, "courier new", monospace;
    ;
}

.content-item__9-exercise__input input:first-child {
    width: 90px;
}

.content-item__9-exercise__input input:last-child {
    width: 60px;
}

.content-item__10 {
    margin-top: 24px;
    padding-bottom: 24px;
}

.content-item__10-list {
    padding-left: 42px;
}

.content-item__10-content {
    font-weight: bold;
}

.content-item__11 {
    padding-top: 24px;
}

.content-item__12 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.content-item__13 {
    padding-top: 24px;
    padding-bottom: 48px;
}

.content-item__14 {
    background-color: #282a35;
    color: #ffc0c7;
    border-radius: 16px;
    padding: 52px 48px;
}

.content-item__14-heading {
    font-size: 48px;
    padding-bottom: 52px;
}

.content-item__14-title {
    font-size: 36px;
    padding-bottom: 38px;
    font-weight: 700;
}

.footer__user-icon {
    display: flex;
    justify-content: center;
    padding: 18px 0;
}

.content-item__15 {
    padding: 24px;
}

/* Advertisement side */
.advertisement-item__1 {
    display: block;
    cursor: pointer;
}

.advertisement-item {
    text-align: center;
    cursor: pointer;
}

.social-icons {
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.social-icon:hover{
    color: #4D90FE;
    cursor: pointer;
}

.social-icon+.social-icon {
    padding-left: 8px;
}

.advertisement-item__3 {
    background-color: #282a35;
    color: #f2c0c7;
    font-weight: 600;
    margin: 28px 0;
    border-radius: 12px;
    padding-top: 24px;
    overflow: hidden;
    text-align: center;
}

.advertisement-item__3-icon {
    padding: 18px 0;
    margin: 24px 0;
}

.advertisement-item__3-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.advertisement-item__3-content p {
    text-align: center;
}

.advertisement-item__3-title p {
    padding: 4px 0;
}

.advertisement-item-btn {
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
}

/* footer */
.footer__btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.footer__btn {
    background-color: #282a35;
    color: white;
    border-radius: 4px;
    width: 224px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}

.footer__btn:hover {
    background-color: #059862;
    color: white;
}

.footer__courses-list {
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    padding-bottom: 24px;
}

.footer__course-title {
    font-size: 16px;
    padding-bottom: 16px;
}

.footer__course-title-hoverable:hover{
    color: #059862;
    text-decoration: underline;
    cursor: pointer;
}

.footer__course a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    text-align: center;
}

.footer__course a+a {
    padding-bottom: 4px;
}

.footer__information {
    display: flex;
    justify-content: end;
}

.footer__information a {
    color: grey;
    text-decoration: none;
    padding: 16px 8px;
    font-size: 12px;
    position: relative;
}

.footer__information a:hover {
    color: #059862;
}

.footer__information a::after {
    content: "";
    border-width: 8px 1px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: 16px;
    right: 0px;
}

.footer__information a:last-child:after {
    border: none;
}

.footer__description {
    color: grey;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 16px;
}

.footer__description-link {
    text-decoration: none;
    color: grey;
}
.footer__course a:hover,
.footer__description-link:hover,
.footer__copyright-link :hover {
    text-decoration: underline;
    color: #059862;
}

.footer__copyright {
    color: grey;
    text-align: center;
    font-size: 12px;
}

.footer__copyright-link {
    text-decoration: none;
    color: grey;
}

.footer__icon {
    display: flex;
    justify-content: center;
    padding: 18px 0 72px;
}

/* Submenu */
.sub-menu--1,
.sub-menu--2,
.sub-menu--3 {
    background-color: #282a35;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}

.sub-menu--1::-webkit-scrollbar,
.sub-menu--2::-webkit-scrollbar,
.sub-menu--3::-webkit-scrollbar   {
    background-color: #555555 !important;
}

.sub-menu--1::-webkit-scrollbar-thumb,
.sub-menu--2::-webkit-scrollbar-thumb,
.sub-menu--3::-webkit-scrollbar-thumb {
    background-color: #999999 !important;
}

.sub-menu__heading {
    height: 42px;
    width: 100vw;
    color: #fff4a3;
    font-size: 32px;
    font-weight: 900;
    position: absolute;
    top: calc(var(--header_height) + var(--search-bar_height));
    right: 0;
    left: 0;
    padding: 48px 12% 32px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-menu__heading-icon--1,
.sub-menu__heading-icon--2,
.sub-menu__heading-icon--3 {
    color: white;
    width: 96px;
    height: 96px;
    text-align: center;
    line-height: 96px;
    cursor: pointer;
    position: absolute;
    right: 34px;
}

.sub-menu__heading-icon--1:hover,
.sub-menu__heading-icon--2:hover,
.sub-menu__heading-icon--3:hover {
    background-color: white;
    color: #000;
}

.sub-menu__content-item__heading--3 {
    color: #000 !important;
    background-color: #fff4a3;
    border-radius: 8px;
    width: 180px;
    height: 38px;
    font-size: 18px !important;
    font-weight: bold !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sub-menu__content-item__heading--3:hover {
    color: white !important;
    background-color: #059862 !important;
}

.sub-menu__content {
    display: flex;
    position: relative;
    top: calc(var(--header_height) + var(--search-bar_height) + 96px);
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0 12%;
    padding-bottom: 8%;
}

.sub-menu__content-item {
    color: white;
    padding: 0;
}

.sub-menu__content-item__list {
    list-style: none;
}

.sub-menu__content-item__heading {
    color: #fff4a3;
    font-size: 24px;
    margin: 16px 0 12px;
}

.sub-menu__content-item__list-item {
    font-size: 18px;
    display: flex;
    padding: 4px 4px;
}

.sub-menu__content-item__list__icon {
    background-color: #fff4a3;
    color: #000;
    border: 1px solid #000;
    border-radius: 12px;
    margin: 0 8px;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 2px 8px;
}

.sub-menu__content-item__list-item:hover {
    background-color: #cccccc;
    color: #000;
    cursor: pointer;
}




/* Test */
/* .content {
    background-color: #1d2a35 ;
    color: #dddddd ;
}

.content-item__2,
.content-item__7 {
    background-color: #193d3d;
}


.content-item__3-example {
    background-color: #38444d;
}


.content-item__5-example {
    background-color: #fff4a3;
    color: #1d2a35;
}

.content-item__6 .content__line span,
.content-item__6-item .content__line a
 {
    color: #dddddd;
}

.content-item__9-exercise,
.content-item__9-exercise__input {
    background-color: #38444d;
}

.content-item__9-exercise__content,
.content-item__9-exercise__content a {
    background-color: #15202b;
    color: #dddddd;
}

.content-item__9-exercise--red {
    background-color: #38444d;
    color: #ff9996 !important;
}



.footer__btn {
    border: 1px solid #dddddd;
}

.footer__courses-list,
.footer__course a,
.footer__information,
.footer__description,
.footer__copyright,
.footer__icon,
.content-item__3,
.content-item__3-example-content,
.footer__btns {
    background-color: #1d2a35;
}

.footer__course-title,
.footer__course a
 {
    color: #dddddd;
}


.border--bottom, .border--right, .border--top {
    border-color: #d9d9d941;
} */